PRD-Genie/prd-genie-workflow-chat-langfuse.json
{
  "name": "PRD Genie - Chat + Langfuse",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "c899c20d-a39b-4f2b-8e93-6965bc0ede59",
      "name": "OpenAI gpt-4o-mini (extract)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        620
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "3db251ad-659a-4348-a9bf-87e273a007e2",
      "name": "OpenAI gpt-4o (PRD)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        60
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "a1e0ef85-44f8-473f-a611-cccf078de8e4",
      "name": "OpenAI gpt-4o (stories)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        60
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "201f2bd3-fe37-4ae9-8103-c1f60015827d",
      "name": "OpenAI gpt-4o-mini (gaps)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        900
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You are a requirements analyst. You read meeting transcripts, product briefs, and stakeholder notes, and you classify what was actually said. You do not design products and you do not fill in what people failed to say.\n\nINPUT: The raw text of one meeting transcript, product brief, or set of notes. Quality varies: some inputs are detailed, some vague, some contradictory, some contain almost nothing.\n\nOUTPUT: Return valid JSON with EXACTLY these keys:\n{\n  \"input_assessment\": \"DETAILED | PARTIAL | INSUFFICIENT\",\n  \"stated_requirements\": [{\"id\":\"REQ-001\",\"requirement\":\"...\",\"type\":\"FUNCTIONAL | NON_FUNCTIONAL\",\"quote\":\"<verbatim>\",\"speaker\":\"<name or UNKNOWN>\",\"acceptance_criteria\":[\"<verbatim if stated>\"]}],\n  \"ambiguous_items\": [{\"id\":\"AMB-001\",\"topic\":\"...\",\"quote\":\"<verbatim>\",\"why_ambiguous\":\"...\"}],\n  \"contradictions\": [{\"id\":\"CON-001\",\"position_a\":{\"quote\":\"<verbatim>\",\"speaker\":\"...\"},\"position_b\":{\"quote\":\"<verbatim>\",\"speaker\":\"...\"},\"conflict\":\"...\",\"resolved\":false}],\n  \"stakeholders\": [{\"name\":\"...\",\"role\":\"<or UNKNOWN>\",\"position\":\"<verbatim>\"}],\n  \"personas\": [{\"id\":\"PER-001\",\"persona\":\"<user type>\",\"key_need\":\"...\",\"quote\":\"<verbatim>\",\"current_workaround\":\"<or UNKNOWN>\"}],\n  \"constraints\": [{\"constraint\":\"...\",\"quote\":\"<verbatim>\",\"category\":\"TIMELINE | TECHNICAL | BUDGET | DEPENDENCY\"}],\n  \"dependencies\": [{\"item\":\"...\",\"owner\":\"<or UNKNOWN>\",\"eta\":\"<or UNKNOWN>\",\"quote\":\"<verbatim>\"}],\n  \"not_discussed\": [\"<PRD topics with zero coverage>\"],\n  \"missing_information\": [\"<specific open questions>\"]\n}\n\nRULES:\n1) EVERY item in stated_requirements, ambiguous_items, contradictions, stakeholders, personas, constraints and dependencies MUST include a \"quote\" field containing text copied VERBATIM from the input. If you cannot copy supporting text, the item does not belong in the output. Do not paraphrase into the quote field.\n2) Do NOT invent requirements. Your general knowledge of what reporting dashboards, export features, or SSO integrations usually need is NOT a source. Only this input is a source.\n3) A topic DISCUSSED but not DECIDED goes in ambiguous_items, never in stated_requirements. \"Let's decide after we see the designs\", \"TBD\", \"we'll discuss offline\", and \"I don't know, just the whole thing\" are ambiguity signals. Discussion is not decision.\n4) When two statements conflict, record BOTH positions with their speakers. Do NOT pick a winner, do NOT synthesize a compromise, do NOT silently drop one. Set \"resolved\": false unless the input contains explicit agreement.\n5) Preserve numbers, versions and identifiers EXACTLY as written. \"under 2 seconds\" stays \"under 2 seconds\". \"10,000 concurrent users\" does not become \"10K users\". \"< 200ms at p95\" does not become \"200ms\". \"Salesforce REST API v52\" does not become \"Salesforce API\".\n6) Distinguish STAKEHOLDERS from PERSONAS. A stakeholder is a person in the meeting with a position (\"Raj, Engineering Lead, wants microservices\"). A persona is a type of end user the product serves (\"Admins need bulk user management\" gives the Admin persona). Only list a persona when the input names that user type - do not derive \"executives\" or \"analysts\" from the nature of the feature.\n7) For not_discussed, check each of these PRD topics against the input and list every one with zero coverage: success metrics, user personas, business goal, out of scope, dependencies, assumptions, timeline, non-functional requirements, acceptance criteria.\n8) If the input contains no extractable requirements, set input_assessment to \"INSUFFICIENT\" and return empty arrays. An empty result is a CORRECT and COMPLETE answer for an input with no content. Do not produce a \"reasonable\" requirement to avoid returning nothing.\n\nINPUT TEXT:\n{{ $json.input_text }}",
        "messages": {}
      },
      "id": "06b92446-9d7a-4bda-aee0-eef7816968f2",
      "name": "Agent 1 - Requirement Extractor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -40,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the extractor's JSON, validate the groundedness contract, and count.\n// Any requirement without a verbatim quote is dropped and logged - this is the\n// quote-or-it-doesn't-exist rule enforced in code rather than left to the model.\n\nconst raw = $input.first().json;\nlet text = raw.text ?? raw.output ?? raw.response ?? '';\nif (typeof text === 'object') text = JSON.stringify(text);\n\n// tolerate ```json fences\ntext = String(text).replace(/^```(?:json)?/i, '').replace(/```$/, '').trim();\n\nlet ex;\ntry {\n  ex = JSON.parse(text);\n} catch (e) {\n  throw new Error('Extractor did not return valid JSON. Raw output: ' + text.slice(0, 500));\n}\n\nconst arr = (k) => Array.isArray(ex[k]) ? ex[k] : [];\nconst hasQuote = (o) => typeof o.quote === 'string' && o.quote.trim().length > 0;\n\n// Groundedness gate: drop unsupported items, keep them for the trace.\nconst dropped = [];\nconst stated = arr('stated_requirements').filter(r => {\n  if (!hasQuote(r)) { dropped.push({ where: 'stated_requirements', item: r }); return false; }\n  return true;\n});\nconst personas = arr('personas').filter(p => {\n  if (!hasQuote(p)) { dropped.push({ where: 'personas', item: p }); return false; }\n  return true;\n});\n\nconst extraction = {\n  ...ex,\n  stated_requirements: stated,\n  personas: personas,\n};\n\nreturn [{\n  json: {\n    input_text: $('Prepare Chat Input').first().json.input_text,\n    test_id: $('Prepare Chat Input').first().json.test_id,\n    extraction,\n    gaps: {\n      ambiguous_items: arr('ambiguous_items'),\n      contradictions: arr('contradictions'),\n      not_discussed: arr('not_discussed'),\n      missing_information: arr('missing_information'),\n      stakeholders: arr('stakeholders'),\n    },\n    stated_count: stated.length,\n    ambiguous_count: arr('ambiguous_items').length,\n    contradiction_count: arr('contradictions').length,\n    input_assessment: ex.input_assessment ?? 'UNKNOWN',\n    unsupported_items_dropped: dropped.length,\n    dropped_items: dropped,\n  }\n}];"
      },
      "id": "aa547cac-d0de-4173-be7e-5a996322a353",
      "name": "Parse + Validate Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b59f3820-54d1-4a74-b353-7c7e10e5d7e7",
              "leftValue": "={{ $json.stated_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc9673b4-16d6-4cc5-a117-6b54feb8813b",
      "name": "Sufficiency Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        380
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You are a technical writer who assembles a PRD from a pre-verified requirements object. You are a formatter, not an author. Every sentence you write must originate in the JSON you were given.\n\nINPUT: A JSON object from the Requirement Extractor. You do NOT have access to the original transcript. The JSON is your only source of truth.\n\nOUTPUT: A markdown PRD following this 10-section template:\n1. Product Overview  2. Goals and Objectives  3. User Personas  4. Feature Requirements (4.1 Functional table with columns ID | Requirement | Priority | Source; 4.2 Non-Functional table with ID | Requirement | Category | Target)  5. Acceptance Criteria  6. Out of Scope  7. Dependencies (table: Dependency | Owner | Status | Risk)  8. Assumptions  9. Open Questions  10. Timeline\n\nRULES:\n1) If a section has no supporting entries in the input JSON, write EXACTLY:\nNot discussed in this meeting.\nand nothing else. Do NOT add placeholder content. Do NOT add suggested content. Do NOT add example content. Do NOT write \"TBD - recommend tracking X\" or \"Typically this would include...\". A section reading \"Not discussed in this meeting.\" is a CORRECT and COMPLETE section, and a PRD where seven of ten sections read that way is a correct PRD for a thin input.\n2) The section most at risk is Success Metrics. PRDs conventionally have KPIs, so you will feel pressure to supply them. Unless the JSON contains a stated metric, that section reads \"Not discussed in this meeting.\"\n3) In the Functional Requirements table, the Source column MUST contain the requirement ID from the input JSON (e.g. REQ-001). Every row needs one. A row you cannot source does not belong in the table.\n4) Priority comes only from stated urgency in the JSON. If nothing indicates priority, write \"Not stated\" - do not infer it from how important the requirement sounds.\n5) Copy every acceptance criterion VERBATIM from the JSON. Do not add criteria the input did not contain, and do not \"complete\" a partial set.\n6) Populate Open Questions from ambiguous_items and missing_information, and Dependencies from the dependencies array, preserving UNKNOWN values as UNKNOWN. Do not resolve an UNKNOWN into an estimate.\n7) Contradictions go in Open Questions with both positions stated. Do not resolve them in the PRD.\n\nEXTRACTED REQUIREMENTS JSON:\n{{ JSON.stringify($json.extraction) }}",
        "messages": {}
      },
      "id": "9e94c266-931a-4744-bf61-95c7caef4e41",
      "name": "Agent 2 - PRD Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "033d7ca0-0176-4da8-bd58-abc9c89c9d42",
              "name": "prd_markdown",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "14e875bd-fecb-4621-b9f4-2c5188f5472e",
              "name": "test_id",
              "value": "={{ $('Parse + Validate Extraction').first().json.test_id }}",
              "type": "string"
            },
            {
              "id": "da3e0bcb-b1fa-42f0-8793-649e7a267571",
              "name": "stated_count",
              "value": "={{ $('Parse + Validate Extraction').first().json.stated_count }}",
              "type": "number"
            },
            {
              "id": "5f0cd2c7-1c89-4c4e-8ba2-ea5cdcccc4a9",
              "name": "ambiguous_count",
              "value": "={{ $('Parse + Validate Extraction').first().json.ambiguous_count }}",
              "type": "number"
            },
            {
              "id": "7114cd18-07a3-4ee1-ac4c-e2050025abaf",
              "name": "contradiction_count",
              "value": "={{ $('Parse + Validate Extraction').first().json.contradiction_count }}",
              "type": "number"
            },
            {
              "id": "fb1e304b-b270-4543-b27b-63f4019239f1",
              "name": "unsupported_items_dropped",
              "value": "={{ $('Parse + Validate Extraction').first().json.unsupported_items_dropped }}",
              "type": "number"
            },
            {
              "id": "7f8f7907-24f0-44f8-9553-8a58c1ab5daa",
              "name": "input_assessment",
              "value": "={{ $('Parse + Validate Extraction').first().json.input_assessment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f69f87f-d05a-4602-96aa-895438fe0c45",
      "name": "Capture PRD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You are an agile business analyst who converts PRD requirements into epics and user stories.\n\nINPUT: The Functional Requirements and Acceptance Criteria sections of a PRD.\n\nOUTPUT: Markdown structured as:\n## Epic 1: <name>\n### Feature 1.1: <name>\n- **US-001** As a <persona>, I want <capability>, so that <benefit>.\n  - Priority: Must Have | Should Have | Nice to Have | Not stated\n  - Source: <FR-ID from the PRD>\n  - Acceptance Criteria:\n    - [ ] <criterion, verbatim from the PRD>\n\nRULES:\n1) Every user story must trace to a specific FR-ID from the PRD. Put it in the Source line. If you cannot name the FR it came from, do not write the story.\n2) Do NOT inflate. One requirement generally produces one story. Split into multiple stories only when the requirement explicitly names multiple distinct actors or distinct capabilities - \"Admins need bulk user management, end users need a simplified view, auditors need read-only access\" is genuinely three stories because it names three personas. \"Filter by date, category, and status\" is ONE story about filtering, not three.\n3) Use only personas named in the PRD section 3. If none are named, write \"As a user\". Do not invent \"As a data analyst\" or \"As an executive\" because the feature sounds like something they would want.\n4) Priority comes from the PRD's stated priority. If the PRD says \"Not stated\", the story says \"Not stated\". Do not assign priority based on your own sense of importance.\n5) Copy acceptance criteria VERBATIM from the PRD. Do not generate additional criteria to make a story feel complete. A story with one criterion is fine.\n\nPRD:\n{{ $json.prd_markdown }}",
        "messages": {}
      },
      "id": "69520a2c-ee0e-4d1a-ac63-975eddbf04c2",
      "name": "Agent 3 - Story Breakdown",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09339b0c-b771-4b6c-8211-64d3f52e133e",
              "name": "stories_markdown",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "c9340dad-625e-4193-8ce8-e8bfea7ab38b",
              "name": "prd_markdown",
              "value": "={{ $('Capture PRD').first().json.prd_markdown }}",
              "type": "string"
            },
            {
              "id": "93cb97f5-9ccb-4819-a989-622bd41c2f0a",
              "name": "test_id",
              "value": "={{ $('Prepare Chat Input').first().json.test_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5955982-551d-4419-8ffe-1164e86b4282",
      "name": "Capture Stories",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sufficiency gate, false branch. This is what passes T9 by construction:\n// the PRD Generator is never invoked, so it cannot fabricate a PRD from nothing.\nconst j = $input.first().json;\nconst md = [\n  '# PRD Genie - No PRD Generated',\n  '',\n  '**Test ID:** ' + (j.test_id || 'unknown'),\n  '**Input assessment:** ' + j.input_assessment,\n  '',\n  'No requirements could be extracted from this input, so no PRD was generated.',\n  'Generating one would require inventing content that was never stated.',\n  '',\n  '## What is missing',\n  ...(j.gaps.missing_information || []).map(m => '- ' + m),\n  '',\n  '## Topics not discussed',\n  ...(j.gaps.not_discussed || []).map(m => '- ' + m),\n  '',\n  '_See clarification-questions.md for the questions to take back to stakeholders._',\n].join('\\n');\nreturn [{ json: { ...j, prd_markdown: md, halted_at_sufficiency_gate: true } }];"
      },
      "id": "42c52c19-e73a-484e-b301-1b9fa3aba840",
      "name": "Halt - Insufficient Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You are a product analyst who turns gaps in a requirements discussion into specific questions for the people who can answer them.\n\nINPUT: The ambiguous items, contradictions, not-discussed topics and missing information identified by the Requirement Extractor.\n\nOUTPUT: Markdown:\n## Blocking Questions\n(answers needed before development can start)\n1. **[Topic]** - <question> *(Ask: <role or name, or \"unassigned\">)*\n   - Why this matters: <one sentence>\n   - What was said: \"<verbatim quote from the extraction>\"\n\n## Clarifying Questions\n(needed for a complete PRD, not blocking)\n\n## Unresolved Conflicts\n(both positions, with who holds each)\n\nRULES:\n1) Ask questions. Never answer them. \"What page load time is acceptable?\" is correct. \"Should we target under 3 seconds?\" is not - a suggested answer becomes a requirement the moment a busy stakeholder says \"sure\".\n2) Every question must trace to a specific gap in the input, quoted. Do not generate questions from a general checklist of what PRDs usually contain.\n3) Address each question to whoever is best placed to answer, based only on roles present in the input. If nobody suitable is named, write \"unassigned\".\n4) For contradictions, state both positions with their speakers and ask for a decision. Do not recommend which should win.\n5) Blocking vs clarifying: blocking means development cannot responsibly start without it. Be honest - a long blocking list that is mostly nice-to-know reads as noise.\n\nGAPS FROM EXTRACTION:\n{{ JSON.stringify($json.gaps) }}",
        "messages": {}
      },
      "id": "79b8c256-f5c1-42a5-9dd6-d94db150863b",
      "name": "Agent 4 - Gap Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        620,
        740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "648197f9-a482-496c-a1d5-f26788dff87c",
              "name": "gap_markdown",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8029243-cfda-45dd-8cc2-42cc2695f482",
      "name": "Capture Gap Questions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        740
      ]
    },
    {
      "parameters": {
        "numberInputs": 3,
        "options": {}
      },
      "id": "c12d2052-2cff-47dd-930e-8017ba12055d",
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1520,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reach back to the source nodes for identity and metrics rather than relying on\n// them surviving the trip through the LLM chain nodes - chainLlm returns only\n// {text}, so anything not explicitly re-attached is dropped.\nconst src  = $('Prepare Chat Input').first().json;\nconst meta = $('Parse + Validate Extraction').first().json;\n\nconst items = $input.all().map(i => i.json);\nconst pick = (k) => {\n  for (const i of items) {\n    const v = i[k];\n    if (typeof v === 'string' && v.trim()) return v;\n  }\n  return '';\n};\n\n// Filesystem-safe. A fallback containing '/' would be read by n8n as a path\n// separator and silently split the filename.\nconst testId = String(src.test_id ?? 'unknown').replace(/[^A-Za-z0-9._-]/g, '_');\n\nreturn [{\n  json: {\n    test_id: testId,\n    input_assessment: meta.input_assessment ?? 'UNKNOWN',\n    stated_count: meta.stated_count ?? 0,\n    ambiguous_count: meta.ambiguous_count ?? 0,\n    contradiction_count: meta.contradiction_count ?? 0,\n    unsupported_items_dropped: meta.unsupported_items_dropped ?? 0,\n    halted_at_sufficiency_gate: items.some(i => i.halted_at_sufficiency_gate === true),\n    prd_markdown: pick('prd_markdown'),\n    stories_markdown: pick('stories_markdown'),\n    gap_markdown: pick('gap_markdown'),\n  }\n}];"
      },
      "id": "c06fd1da-c5f6-46e9-877b-2eeac6da7d2e",
      "name": "Assemble Submission Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        480
      ]
    },
    {
      "parameters": {
        "public": false,
        "options": {
          "responseMode": "lastNode",
          "title": "PRD Genie",
          "subtitle": "Paste a meeting transcript, product brief, or stakeholder notes.",
          "initialMessages": "Paste a transcript, brief, or notes and I'll return a PRD, user stories, and the questions still open.\nTip: prefix with a test ID (e.g. \"T1: ...\") to tag the run in your traces."
        }
      },
      "id": "fecd69c8-3e87-49c2-bf36-177196a52e45",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        380
      ],
      "webhookId": "6bd66637-fb38-4fa0-853d-9a1fde4b7d2c"
    },
    {
      "parameters": {
        "jsCode": "// Chat Trigger gives us { chatInput, sessionId }. Normalise it into the shape the\n// rest of the pipeline already expects, so no downstream node had to change.\nconst j = $input.first().json;\nconst raw = String(j.chatInput ?? j.text ?? '').trim();\n\n// An optional \"T1: ...\" prefix tags the run without changing behaviour, which keeps\n// the baseline test dataset runnable straight from the chat box.\nconst m = raw.match(/^\\s*(T\\d{1,2})\\s*[:.\\-]\\s*([\\s\\S]+)$/i);\nconst test_id    = m ? m[1].toUpperCase() : 'chat';\nconst input_text = m ? m[2].trim() : raw;\n\nif (!input_text) {\n  throw new Error('No text received. Paste a transcript, brief, or notes into the chat.');\n}\n\nreturn [{ json: { test_id, input_text, sessionId: j.sessionId ?? null } }];"
      },
      "id": "6e17ef48-bf78-4b90-8e81-5cc22bfb14c1",
      "name": "Prepare Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// One chat message: the three deliverables, each under its own heading.\n// The HTTP node upstream replaced the item with Langfuse's response,\n// so reach back for the payload rather than reading $input.\nconst j = $('Assemble Submission Outputs').first().json;\n\nconst missing = (what) =>\n  `_${what} not generated - the input did not contain enough stated requirements._`;\n\nconst prd     = (j.prd_markdown || '').trim() || missing('PRD');\nconst stories = (j.stories_markdown || '').trim() ||\n                (j.halted_at_sufficiency_gate\n                  ? '_No user stories - no PRD was generated for this input._'\n                  : missing('User stories'));\nconst gaps    = (j.gap_markdown || '').trim() || missing('Clarification questions');\n\n// Demote headings inside each section by one level so the three section headings\n// stay the outermost structure instead of competing with the agents' own headings.\nconst demote = (md) => md.replace(/^(#{1,5}) /gm, '$1# ');\n\nconst header = j.halted_at_sufficiency_gate\n  ? '> **No PRD generated.** The extractor found no stated requirements in this input, so the PRD Generator was never invoked. The questions below are what to take back to stakeholders.'\n  : `> **${j.stated_count}** stated requirement(s) · **${j.ambiguous_count}** ambiguous · **${j.contradiction_count}** contradiction(s)` +\n    (j.unsupported_items_dropped ? ` · **${j.unsupported_items_dropped}** unsupported item(s) dropped` : '');\n\nconst output = [\n  '# PRD Genie' + (j.test_id && j.test_id !== 'chat' ? ' — ' + j.test_id : ''),\n  '',\n  header,\n  '',\n  '---',\n  '',\n  '# 1. Product Requirements Document',\n  '',\n  demote(prd),\n  '',\n  '---',\n  '',\n  '# 2. Epics and User Stories',\n  '',\n  demote(stories),\n  '',\n  '---',\n  '',\n  '# 3. Clarification Questions',\n  '',\n  demote(gaps),\n].join('\\n');\n\n// The Chat Trigger renders the last node's `output` field as the reply.\nreturn [{ json: {\n  output,\n  test_id: j.test_id,\n  stated_count: j.stated_count,\n  ambiguous_count: j.ambiguous_count,\n  contradiction_count: j.contradiction_count,\n  unsupported_items_dropped: j.unsupported_items_dropped,\n  halted_at_sufficiency_gate: j.halted_at_sufficiency_gate,\n} }];"
      },
      "id": "753e20b2-8c01-4fe5-b164-367ae6491c34",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build a Langfuse ingestion batch: one trace, the agent generations, and two\n// spans for the guardrails. The guardrail spans are the reason to do this by hand\n// rather than infer the gate from which generations are absent.\n\nconst asm  = $input.first().json;\nconst src  = $('Prepare Chat Input').first().json;\nconst meta = $('Parse + Validate Extraction').first().json;\n\n// Self-contained UUID: the Code sandbox does not reliably expose crypto.\nconst uid = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\nconst t0 = Date.now();\nconst iso = (ms = 0) => new Date(t0 + ms).toISOString();\nconst traceId = uid();\nconst batch = [];\nconst push = (type, body) => batch.push({ id: uid(), type, timestamp: iso(), body });\n\n// Estimate only - see 07-langfuse-integration.md before using these for cost.\nconst est = (s) => Math.ceil(String(typeof s === 'string' ? s : JSON.stringify(s ?? '')).length / 4);\n\npush('trace-create', {\n  id: traceId,\n  name: 'PRD Genie',\n  sessionId: src.sessionId ?? undefined,\n  input: src.input_text,\n  output: asm.prd_markdown,\n  tags: [asm.test_id, asm.input_assessment,\n         asm.halted_at_sufficiency_gate ? 'halted' : 'completed'].filter(Boolean),\n  metadata: {\n    test_id: asm.test_id,\n    stated_count: asm.stated_count,\n    ambiguous_count: asm.ambiguous_count,\n    contradiction_count: asm.contradiction_count,\n    unsupported_items_dropped: asm.unsupported_items_dropped,\n    halted_at_sufficiency_gate: asm.halted_at_sufficiency_gate,\n  },\n});\n\nconst generation = (name, model, input, output, offset) => {\n  push('generation-create', {\n    id: uid(), traceId, name, model,\n    startTime: iso(offset), endTime: iso(offset + 1000),\n    modelParameters: { temperature: 0 },\n    input, output,\n    usageDetails: { input: est(input), output: est(output),\n                    total: est(input) + est(output) },\n  });\n};\n\ngeneration('Agent 1 · Requirement Extractor', 'gpt-4o-mini',\n           src.input_text, meta.extraction, 0);\n\nif (!asm.halted_at_sufficiency_gate) {\n  generation('Agent 2 · PRD Generator', 'gpt-4o',\n             meta.extraction, asm.prd_markdown, 2000);\n  generation('Agent 3 · Story Breakdown', 'gpt-4o',\n             asm.prd_markdown, asm.stories_markdown, 4000);\n}\ngeneration('Agent 4 · Gap Analyzer', 'gpt-4o-mini',\n           meta.gaps, asm.gap_markdown, 2000);\n\npush('span-create', {\n  id: uid(), traceId, name: 'Guardrail · quote validation',\n  startTime: iso(1200), endTime: iso(1250),\n  level: (asm.unsupported_items_dropped > 0) ? 'WARNING' : 'DEFAULT',\n  statusMessage: `${asm.unsupported_items_dropped ?? 0} unsupported item(s) dropped`,\n  input: { stated_items_kept: meta.stated_count ?? 0 },\n  output: { dropped: meta.dropped_items ?? [] },\n});\n\npush('span-create', {\n  id: uid(), traceId, name: 'Guardrail · sufficiency gate',\n  startTime: iso(1300), endTime: iso(1350),\n  level: asm.halted_at_sufficiency_gate ? 'WARNING' : 'DEFAULT',\n  statusMessage: asm.halted_at_sufficiency_gate\n    ? 'HALTED — no stated requirements; PRD Generator not invoked'\n    : `PASSED — ${asm.stated_count} stated requirement(s)`,\n  input: { stated_count: asm.stated_count ?? 0 },\n  output: { proceeded: !asm.halted_at_sufficiency_gate },\n});\n\nreturn [{ json: { batch } }];"
      },
      "id": "58f5ee0f-3ec4-4344-9074-1c78b8c6d474",
      "name": "Build Langfuse Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.cloud.langfuse.com/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ batch: $json.batch }) }}",
        "options": {}
      },
      "id": "33e8d0bd-6a5f-4fbf-8e3a-746ebf5f1333",
      "name": "Send to Langfuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1850,
        700
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false,
      "notes": "US region. Keys live in the n8n Basic Auth credential (user = public key, password = secret key) - never in this file, which gets committed to a public repo."
    }
  ],
  "connections": {
    "Agent 1 - Requirement Extractor": {
      "main": [
        [
          {
            "node": "Parse + Validate Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validate Extraction": {
      "main": [
        [
          {
            "node": "Sufficiency Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent 4 - Gap Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sufficiency Gate": {
      "main": [
        [
          {
            "node": "Agent 2 - PRD Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Insufficient Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2 - PRD Generator": {
      "main": [
        [
          {
            "node": "Capture PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture PRD": {
      "main": [
        [
          {
            "node": "Agent 3 - Story Breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3 - Story Breakdown": {
      "main": [
        [
          {
            "node": "Capture Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Stories": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Halt - Insufficient Input": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agent 4 - Gap Analyzer": {
      "main": [
        [
          {
            "node": "Capture Gap Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Gap Questions": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Outputs": {
      "main": [
        [
          {
            "node": "Assemble Submission Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Submission Outputs": {
      "main": [
        [
          {
            "node": "Build Langfuse Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-4o-mini (extract)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1 - Requirement Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-4o (PRD)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2 - PRD Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-4o (stories)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 3 - Story Breakdown",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-4o-mini (gaps)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 4 - Gap Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Prepare Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Input": {
      "main": [
        [
          {
            "node": "Agent 1 - Requirement Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Langfuse Batch": {
      "main": [
        [
          {
            "node": "Send to Langfuse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Langfuse": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "prd-genie-capstone"
  },
  "tags": []
}