Product Finance External Data Ingestion.json
{
  "name": "NovaCart External Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -112
      ],
      "id": "9941759e-eacb-4a29-8d5e-d3c9d1e26f6f",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocart-04-12-2026",
          "mode": "list",
          "cachedResultName": "nocart-04-12-2026"
        },
        "options": {
          "pineconeNamespace": "NovaCart External Data Ingestion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -32,
        -112
      ],
      "id": "f9d8d569-6702-47df-96f2-0f1e218c797b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AC4k47l1svnp0q2b",
          "name": "Pinecone account 7"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "time_period",
                "value": "2025"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        64
      ],
      "id": "af8e4876-b322-49bf-8df6-4b24625bc9e0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "5b2b2617-c1c1-4520-b9c6-8ea027e19177",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        80
      ],
      "id": "296bad0f-e2b3-4f0a-9f08-74d357c0f25b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9WOhH8KvEEOcVr1m",
          "name": "OpenAI account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -112
      ],
      "id": "fca97b2b-7728-44f9-98a7-21e2e6d605d4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3O7mQHlWpKtXaK0B",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1NBhDKrn18fYU6C5MjEi3bSljVqYpGSeM",
            "mode": "list",
            "cachedResultName": "NovaCart External Resources",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1NBhDKrn18fYU6C5MjEi3bSljVqYpGSeM"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -112
      ],
      "id": "e8ff561b-4c61-435a-9e8a-c48374cccd6b",
      "name": "Search files and folders External",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3O7mQHlWpKtXaK0B",
          "name": "Google Drive OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders External": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90e518f6-1f6d-4f50-80ef-980ec3609c54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bca9616d0cceb18dc8d746ed79c3c0bd97961f418104542749fe6d3df957174"
  },
  "nodeGroups": [],
  "id": "XeQX9cfpVudlVI1p",
  "tags": []
}