Product Finance Reporting Agent.json
{
  "name": "Novacart-Monthly-Report-Agent-No-Code",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a7ca3c9c-a8a2-4ab9-a678-2ed47c2a5c06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate the NovaCart Monthly Financial Standing Report for {{ $json.Month }} {{ $json.Year }}. Use only the Internal Finance Vector Store and External Market Vector Store. Output valid HTML only.",
        "options": {
          "systemMessage": "=You are NovaCart’s AI Finance Reporting Agent.\n\nYour job is to generate a Monthly Financial Standing Report for the requested reporting period using only data retrieved from these two tools:\n1. Internal Finance Vector Store — NovaCart internal company and financial data\n2. External Market Vector Store — market, competitor, industry, and macro trend data\n\nGrounding rules:\n- Use only information retrieved from these vector stores.\n- Do not use prior knowledge, assumptions, or invented numbers.\n- Do not fabricate KPIs, trends, dates, or sources.\n- If a metric or detail is unavailable, clearly say that the data is unavailable or pending.\n- Do not present estimates as facts unless the retrieved source explicitly labels them as estimates or approximations.\n\nReport requirements:\n- Generate the report as valid HTML only, suitable for sending through Gmail.\n- Do not output Markdown, code fences, or explanations outside the HTML.\n- Keep the report executive-friendly, clear, and decision-useful.\n- Combine internal performance with external market context.\n- Explain likely drivers, correlations, risks, opportunities, and recommendations.\n- Include data gaps clearly when recent or granular data is missing.\n- Mention the sources used at the end of the report.\n\nExpected structure:\n- Title and reporting period\n- Executive Summary\n- KPI Dashboard\n- Performance Deep Dive\n- Market Context\n- Drivers & Correlations\n- Risks, Opportunities, Recommendations\n- Sources\n\nBehavior rules:\n- Query both vector stores before writing the report.\n- Base all conclusions only on retrieved evidence.\n- Prefer specific statements over vague summaries.\n- Keep the tone professional, concise, and suitable for leadership email communication."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f568028b-1f5f-4bc6-99d6-e69d7904f30d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        576
      ],
      "id": "96c6c889-5118-4d62-9104-4d2290fe959a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9WOhH8KvEEOcVr1m",
          "name": "OpenAI account 8"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        208
      ],
      "id": "d8a8a1a5-92d1-49df-8e17-a704615f3057",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9WOhH8KvEEOcVr1m",
          "name": "OpenAI account 8"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shailendra.parolkar@gmail.com",
        "subject": "=Monthly Report{{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "eec0bc13-a29e-4a1e-889a-e7d4e5e89910",
      "name": "Send a message",
      "webhookId": "b56ae19a-a314-4e1d-8ad9-06aef46445de",
      "credentials": {
        "gmailOAuth2": {
          "id": "rQL2FDdRm6nWt8UN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Extract from internal store",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocart-04-12-2026",
          "mode": "list",
          "cachedResultName": "nocart-04-12-2026"
        },
        "useReranker": true,
        "options": {
          "pineconeNamespace": "NovaCart Internal Data Ingestion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        304
      ],
      "id": "0649446a-ecb8-41ec-a5f8-a57aa3b4f7f6",
      "name": "Internal Finance Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AC4k47l1svnp0q2b",
          "name": "Pinecone account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Extract data from external documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocart-04-12-2026",
          "mode": "list",
          "cachedResultName": "nocart-04-12-2026"
        },
        "useReranker": true,
        "options": {
          "pineconeNamespace": "NovaCart External Data Ingestion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        288
      ],
      "id": "409e86a0-a7d3-4c9a-a187-e912f7687b21",
      "name": "External Market Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AC4k47l1svnp0q2b",
          "name": "Pinecone account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        416,
        608
      ],
      "id": "1c5d0c2a-a7c2-4fe4-9eac-2f26702e3bc6",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "IyvDfDqoy5f6uKxW",
          "name": "Cohere account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Internal Finance Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "External Market Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Finance Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "External Market Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "External Market Vector Store",
            "type": "ai_reranker",
            "index": 0
          },
          {
            "node": "Internal Finance Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2616348d-93de-47ae-8123-cbab033c0373",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bca9616d0cceb18dc8d746ed79c3c0bd97961f418104542749fe6d3df957174"
  },
  "nodeGroups": [],
  "id": "0BcKsfuc6BkqvgNW",
  "tags": []
}