Product Finance Internal Data Ingestion.json
{
  "name": "NovaCart Internal Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -112
      ],
      "id": "1cc1f0f6-52a7-473f-8a6d-de95bd855b75",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocart-04-12-2026",
          "mode": "list",
          "cachedResultName": "nocart-04-12-2026"
        },
        "options": {
          "pineconeNamespace": "NovaCart Internal Data Ingestion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        32,
        -112
      ],
      "id": "5ea9d402-62e3-4171-a781-1c989fc5061c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AC4k47l1svnp0q2b",
          "name": "Pinecone account 7"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "time_period",
                "value": "2025"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        32
      ],
      "id": "d1321699-8b72-4bc0-8ee9-bfeaf931dd39",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        224,
        176
      ],
      "id": "36aa04c1-2b2f-44ba-81a9-2a3449a0ca37",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        80
      ],
      "id": "df7e28ab-b3e3-4c1f-9e3b-493337c25c4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9WOhH8KvEEOcVr1m",
          "name": "OpenAI account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -112
      ],
      "id": "9ebbaeac-d30b-4a84-929e-d54e9318907a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3O7mQHlWpKtXaK0B",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1n_eag4cqqPTKodPffZzK5sVLbBwLSE5M",
            "mode": "list",
            "cachedResultName": "NovaCart Internal Resources",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1n_eag4cqqPTKodPffZzK5sVLbBwLSE5M"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -112
      ],
      "id": "f196587b-60e8-4b2d-8b2b-0d04ba91981a",
      "name": "Search files and folders Internal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3O7mQHlWpKtXaK0B",
          "name": "Google Drive OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders Internal": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f6747439-735e-42b6-b432-7ce32511bc38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bca9616d0cceb18dc8d746ed79c3c0bd97961f418104542749fe6d3df957174"
  },
  "nodeGroups": [],
  "id": "LaiJRv6stVYbwexs",
  "tags": []
}