Slack Project Status Chatbot.json
{
  "name": "Slack Project Status Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-project-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ab9461c-039c-421f-bad1-264f59de7082",
      "name": "Slack Event Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        144
      ],
      "webhookId": "617121b4-bc3d-4203-a019-9b48bca156c4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8cbf1734-1e11-49ce-85e4-6b43e0ce5552",
      "name": "Handle URL Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "4091c5db-d68e-4ab8-bc90-ae8fb3735e65",
      "name": "Respond to Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event.bot_id }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.body.event.subtype }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.headers['x-slack-retry-num'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "6c49bf69-5d23-4c43-8903-1a40db205892",
      "name": "Ignore Bot Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -224,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JnMdCiVclXpHduK-2A1yMg1yVAKFlqGTp05R9gen_BI/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JnMdCiVclXpHduK-2A1yMg1yVAKFlqGTp05R9gen_BI/edit#gid=0"
        },
        "options": {}
      },
      "id": "bde992d8-8b54-4288-b7b5-6cfae6b16e44",
      "name": "Fetch Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -16,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OR0S0IibNKSXSX3q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackEvent = $('Ignore Bot Messages').item.json.body.event;\nconst sheetRows = $('Fetch Google Sheet').all().map(i => i.json);\nreturn [{\n  json: {\n    userQuestion: slackEvent.text,\n    channelId: slackEvent.channel,\n    threadTs: slackEvent.ts,\n    userId: slackEvent.user,\n    sheetData: JSON.stringify(sheetRows, null, 2)\n  }\n}];"
      },
      "id": "44d605ed-a4c9-4f68-91f8-0cfa1296f417",
      "name": "Format Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        240
      ]
    },
    {
      "parameters": {
        "text": "=The user asked: {{ $json.userQuestion }}\n\nHere is the current project data:\n{{ $json.sheetData }}",
        "options": {
          "systemMessage": "You are a project status assistant for a team. You have access to a project tracker with the following fields: Project Name, Owner, Status, Priority, Phase, Due Date, Last Updated, and Notes.\n\nYour job is to answer questions about project status clearly and concisely for a Slack audience.\n\nRules:\n- For specific project lookups, return all relevant fields formatted as a Slack message\n- For broad queries (\"what's at risk?\", \"what's due this week?\"), summarize matching projects in a bulleted list\n- If no projects match, say so clearly\n- Never make up data — only use what's in the sheet\n- Keep responses under 400 words\n- Use Slack markdown: bold with *text*, bullets with •\n- Do not include the raw JSON in your response"
        }
      },
      "id": "cfc2fb29-bd3b-481a-acf3-7543af332f47",
      "name": "Project Status Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        432,
        240
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B17F9MK27",
          "mode": "list",
          "cachedResultName": "project_updates"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "e76560aa-5f7a-4ed7-b1a6-94b6698f6902",
      "name": "Reply in Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        768,
        256
      ],
      "webhookId": "b26861bf-1d58-4ab0-a000-acf98a1dbfdd",
      "credentials": {
        "slackApi": {
          "id": "qBrJXzVlrY47GLeL",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "a790d4dd-9b97-48a2-a773-6bef5b9e3540",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        256
      ]
    },
    {
      "parameters": {},
      "id": "f4456ac3-a520-405d-8027-824906b31b20",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        448
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B1AENQSKF",
          "mode": "list",
          "cachedResultName": "errors"
        },
        "text": "=*Workflow Error* in `{{ $json.workflow.name }}` >{{ $json.execution.error.message }} _{{ $json.execution.startedAt }}_",
        "otherOptions": {}
      },
      "id": "b8a0d7fa-ef6f-4929-81df-5dcb04476d89",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -416,
        448
      ],
      "webhookId": "4ee800ff-f70a-43dc-bc2f-ee46a568060b",
      "credentials": {
        "slackApi": {
          "id": "qBrJXzVlrY47GLeL",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ingest\nReceives Slack message events via webhook.\n\n**Setup:** After activating, copy the webhook URL and update your Slack App manifest request_url. Bot must be invited to the watched channel.",
        "height": 368,
        "color": 4
      },
      "id": "1bbb6843-6353-4bc6-825e-d17fd20487f9",
      "name": "Sticky Note Ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Filter\nPasses only human messages (no bot_id, no subtype). Handles Slack URL verification challenge on first setup.",
        "color": 4
      },
      "id": "836a3190-efe3-49d7-843f-d49e36bd1db0",
      "name": "Sticky Note Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -144
      ]
    },
    {
      "parameters": {
        "content": "## AI Agent\nUses GPT-4o-mini (OpenAI) — deliberate choice, team has OpenAI license.\n\nHandles both specific project lookups and broad natural language queries. Output field: $json.output",
        "color": 4
      },
      "id": "09674e8a-176d-4ba4-a75f-f721cad04b29",
      "name": "Sticky Note Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling\nCatches all workflow failures and posts to #project-questions-errors.\n\n**TODO:** Ensure bot is invited to #project-questions-errors before activating.",
        "color": 3
      },
      "id": "d9923135-66f8-43f6-9f2b-8c644a7e87ce",
      "name": "Sticky Note Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        624
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        448
      ],
      "id": "6248fcdd-e0e8-4002-b3fb-bb9fefd95658",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9WOhH8KvEEOcVr1m",
          "name": "OpenAI account 8"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Event Trigger": {
      "main": [
        [
          {
            "node": "Handle URL Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle URL Verification": {
      "main": [
        [
          {
            "node": "Respond to Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Bot Messages": {
      "main": [
        [
          {
            "node": "Fetch Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Sheet": {
      "main": [
        [
          {
            "node": "Format Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sheet Data": {
      "main": [
        [
          {
            "node": "Project Status Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Status Agent": {
      "main": [
        [
          {
            "node": "Reply in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply in Thread": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Project Status Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8184952-bdfa-4b61-ab19-b2b7508054c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bca9616d0cceb18dc8d746ed79c3c0bd97961f418104542749fe6d3df957174"
  },
  "nodeGroups": [],
  "id": "xFHw2FWGllmOCa8Z",
  "tags": []
}